@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #0075ff;

}

/* ------------ Scroll bar : new design ------------ */
::-webkit-scrollbar {
    width: 13px;
    background: #c1ceff;
}
::-webkit-scrollbar-thumb {
    background: #282f4e;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #0004ff;
}



.title {
    font-size: 2.2em;
    text-align: center;
    color: #1f1f1f;
}
p {
    text-align: center;
    margin-top: 3px;
    color: rgb(82, 90, 87);
    font-weight: 600;
    font-style: italic;
}
.container {
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.card {
    background: #fff;
    color: #1f1f1f;
    width: 20em;
    border-radius: 0.8em;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 1em;
    margin: 1em;
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin: 0;
    font-weight: 400;
}

.card-header,
.card-body,
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-body {
    margin: 1.5em 0 2em 0;
    justify-content: center;
}

.gradient {
    width: 15em;
    height: 15em;
    border-radius: 50%;
    background-color: #333;
}

.card button {
    border: none;
    background: none;
    cursor: pointer;
    transition: 0.3s;
}

.card button:hover {
    color: #ccc;
}

.card span {
    font-size: 0.9em;
}

.card .color1 {
    margin-right: 0.5em;
    font-weight: 400;
}